$black: #000000;
$blue: #299FF0;
$c_fashion: #DA216E;
$c_music: #844287;
$c_film: #B4C037;
$c_beauty: #DD9C30;
$c_pt: #6E1C3C;
$c_art: #3CAA48;
$c_ac: #3A5092;
$c_tech: #DD542E;
$c_craft: #147773;
$pink: #DA216E;
$lineColor: #E4E4E4;
$white: #FFFFFF;
$fonts: 'Open Sans', sans-serif;
$uppercase: uppercase;

